div(class="hero")
  div(class="hero__title") Hero title
  div(class="hero__text").
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam illum quo quis doloremque, eveniet saepe?
    Accusantium id, iusto sint hic voluptatum sapiente autem vitae tenetur minus molestias esse, asperiores odio!
